body, ul, h1, li, header, footer, img, h1, h2, h3, h4, h5, h6, a, p, ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', 'Times New Roman';
}

a:hover {
    opacity: 0.8;
}

body {
    overflow-x: hidden;
}

header, footer {
    background-color: #3c7ae1;
    height: 10vh;
}

main {
    min-height: 71vh;
    margin-bottom: 40px;
}

main img {
    width: 100vw;
    margin-bottom: 30px;
}

h1 {
    color: #fff;
    font-size: 2.3em;
    font-weight: bolder;
    padding: 30px 150px;
}

h2, h3, h4, h6 {
    color: red;
    font-size: 1.8em;
    padding: 30px 150px 15px 150px;
}

p {
    font-size: 1.3em;
    padding: 0px 150px;
    line-height: 1.7em;
}

ul {
    font-size: 1.3em;
    padding: 0px 150px;
    padding-left: 170px;
}

div img {
    height: 300px;
    width: auto;
    padding: 0px 150px;
}

h5 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 25px;
}

.profile {
    margin: 50px;
    height: 300px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #0000FF;
    border-radius: 300px;
}

.read-more {
    border-bottom: 3px solid #3c7ae1;
}

.read-more:hover {
    color: #fff;
    background-color: #3c7ae1;
    border: 2px solid #3c7ae1;
}

.contact-link {
    color: #fff;
    background-color: #3c7ae1;
    border: 12px solid #3c7ae1;
}

.center {
    text-align: center;
}